nav.pink.lighten-2
  .container
    nav-warpper
      a.brand-logo.center(href="/stories") Storybooks
      a.button-collapse.show-on-large(href="#", date-activates="side-menu")
        i.fa.fa-bars
      ul.left.hide-on-med-and-down
        li
          a(href="/")
            i.fa.fa-home
            | Home
      ul.right.hide-on-med-and-down
        if user
          li
            a(href="/dashboard" )
              img.middle.circle(src=`${user.image}` width="40" height="40")
          li
            a(href="/auth/logout")
              i.fa.fa-sign-out
              | Sign Out
        else
          li
            a(href="/stories")
              i.fa.fa-book
              | Public Stories