if user
  ul#dropdown.dropdown-content
    li
      a(href=`/stories/${user.id}`)
        i.fa.fa-user
        | My Stories
    li
      a(href="/auth/logout")
        i.fa.fa-sign-out
        | Log out
            
nav.pink.lighten-2
  .container
    nav-warpper
      .brand-logo.center 
        img.middle(src="https://cdn1.iconfinder.com/data/icons/office-icons-17/512/ilustracoes_04-10-512.png" width="40" height="40")
      a.button-collapse.show-on-large(href="#" data-activates="main-menu")
        i.fa.fa-bars
      ul.left.hide-on-med-and-down
        li
          a(href="/")
            i.fa.fa-home
            | Home
      ul.right.hide-on-med-and-down
        if user
          li
            a.dropdown-button(href="/dashboard" data-activates="dropdown" data-constrainwidth="false")
              img.middle.circle(src=`${user.image}` width="40" height="40")
        else
          li
            a(href="/stories")
              i.fa.fa-book
              | Public Stories
      ul#main-menu.side-nav
        if !user
          li
            a.btn.red.darken-1.waves-effect.waves-light(href="/auth/google")
              span
                i.fa.fa-google-plus.left
              span Login with google
        li
          a(href="/stories")
            i.fa.fa-book
            | Public Stories
        if user
          .divider
          li
            a(href="/dashboard")
              i.fa.fa-cog
              | Dashboard
          li
            a(href=`/stories/${user.id}`)
              i.fa.fa-user
              | My Stories
          li
            a(href="/auth/logout")
              i.fa.fa-sign-out
              | Log out
            
