body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav .fa {
  display: inline !important;
  margin-right: 6px;
}

.marginless {
  margin: 0 !important;
}

.paddingless {
  padding: 0 !important;
}

.circle {
  border-radius: 50%;
}

.middle {
  vertical-align: middle;
  text-align: center;
}

.card-action p {
  display: inline;
  display: inline-block;
  vertical-align: middle;
}

.story-title {
  height: 80px;
}

.story-body {
  height: 100px;
}

#delete-form {
  display: inline;
}

table .btn {
  margin: 2px;
}
